*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7fc;
}

/* Navbar */

nav{
    background:#0b1f4d;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

/* Hero */

.hero{
    background:linear-gradient(135deg,#0b1f4d,#2563eb);
    color:white;
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
}

/* Layout */

.container{
    width:90%;
    margin:40px auto;
    display:flex;
    gap:25px;
}

.main-content{
    flex:3;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.main-content h2{
    margin-bottom:15px;
    color:#0b1f4d;
}

.main-content p{
    line-height:1.8;
    margin-bottom:15px;
}

.sidebar{
    flex:1;
}

.card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.card h3{
    color:#0b1f4d;
    margin-bottom:10px;
}

.card ul{
    padding-left:18px;
}

.card li{
    margin-bottom:10px;
}

/* Footer */

footer{
    background:#0b1f4d;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}


/* Stats Section */

.stats{
    width:90%;
    margin:-40px auto 30px;
    display:flex;
    justify-content:center;
    gap:20px;
}

.stat-box{
    background:white;
    width:220px;
    padding:25px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.stat-box h2{
    color:#2563eb;
    margin-bottom:10px;
}

.stat-box p{
    color:#555;
}






.card ul{
    list-style:none;
    padding-left:0;
}

.card ul li{
    padding:8px 0;
    border-bottom:1px solid #eee;
}