<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee - HR ERP</title>

    <link rel="stylesheet" href="/static/css/add_emp.css">
</head>

<body>

<div class="dashboard-container">

    <!-- Sidebar -->
    <div class="dashboard-sidebar">

        <div class="profile">
            <img src="/static/admin.jpg" alt="Admin">
            <h2>Admin</h2>
        </div>

        <ul>
            <li><a href="/admin_dashboard">🏠 Dashboard</a></li>
            <li><a href="/add_employee">➕ Add Employee</a></li>
            <li><a href="/view_employee">👥 View Employees</a></li>
            <li><a href="/search_employee"> 🔍 Search Employee</a></li>
            <li><a href="/logout">🚪 Logout</a></li>
        </ul>

    </div>

    <!-- Main Content -->
    <div class="dashboard-content">

        <h1>Add Employee</h1>

        <div class="employee-form">

            <form action="/save" method="post">
                 <input type="number" name="emp id" placeholder="Employee ID" required>
                <input type="text" name="name" placeholder="Employee Name" required>

                <input type="email" name="email" placeholder="Email Address" required>

                <input type="text" name="phone" placeholder="Phone Number" required>

                <input type="text" name="department" placeholder="Department" required>

                <input type="text" name="designation" placeholder="Designation" required>

                <input type="number" name="salary" placeholder="Salary" required>

                <button type="submit">Add Employee</button>

            </form>

        </div>

    </div>

</div>

</body>
</html>